<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Настройки профиля поиска</title>
    <link rel="stylesheet" href="./templates/css/bootstrap-grid.css">
    <link rel="stylesheet" href="./templates/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="./templates/css/bootstrap.css">
    <link rel="stylesheet" href="./templates/css/artem.css">
</head>

<body>
    <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 class="lead navbar-brand">Подключиться к базе</h1>
    </header>
    <main class="jumbotron container mt-5">
                <form id="root" class="mr-1" name="root" method="POST" action="/index">
                    <label>Адрес базы данных</label><br>
                    <input type="text" name="host"  value="{{.Host}}" /> :
                    <input type="text" name="port"  value="{{.Port}}" size="4"/><br><br>
                    <label>База данных</label><br>
                    <input type="text" name="dbName"  value="{{.DbName}}" /><br><br>
                    <label>Имя пользователя</label><br>
                    <input type="text" name="user" value="{{.User}}"/><br><br>
                    <label>Пароль</label><br>
                    <input type="password" name="password" value="{{.Password}}"/><br><br>
                    <button class="btn btn-danger" type="submit" name="settings">Подключиться</button>
                </form><br><br>
                <form id="check_json">
                    <button class="btn btn-danger" type="submit" name="check">Проверить</button>
                </form><br>
                <form id="save">
                    <button class="btn btn-success mr-1" type="submit" name="init">Сохранить</button>
                </form><br><br>
                <textarea id="result" class="result" rows="20">
                </textarea>

    </main>
</body>
<script src="templates/js/jquery-3.5.1.js"></script>
<script src="templates/js/artem.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#check_json').click(function () {
            var jsons = {};
            jsons = convertFormToJSON('#root')
            $.post("http://127.0.0.1:8000/check_json", jsons, resultFunc)  
            return false;
        });
        function resultFunc(data) {
            $('#result').html(data)
        };
        $('#save').click(function () {
            var jsons = {};
            jsons = convertFormToJSON('#root')
            $.post("http://127.0.0.1:8000/save_json", jsons, resultFunc)  
            return false;
        });
    });
</script>
</html>