<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Выбор профиля поиска</title>
        <link rel="stylesheet" href="templates/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="templates/css/bootstrap.css">
        <link rel="stylesheet" href="templates/css/bootstrap-grid.css">
        <link rel="stylesheet" href="templates/css/style.css">
    </head>
    <body>
        <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <h1 class="title bg-dark lead navbar-brand mr-auto">Выберите профиль поиска</h1>
            <img id="her" src="1.png" alt="">
        </header>
        <main class="jumbotron container mt-5">
            {{range .Profiles}}
            <div class="row justify-content-between">
                <div class="col">
                    <h4>{{.Name}}</h4>
                </div>
                <div class="col-3">
                    <div class="row justify-content-end">
                        <form method="POST" action="report">
                            <button class="btn btn-danger" type="submit" name="profile" value="{{.Name}}" >Отчет</button>
                        </form>
                        <form  class="mx-4" method="POST" action="settings">
                            <button class="btn btn-danger" type="submit" name="sets" value="{{.Name}}">Настройки</button>
                        </form>
                    </div>
                </div>
            </div>
            {{end}}
        </main>
    </body>
</html>
!