<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="templates/css/bootstrap-grid.css">
    <link rel="stylesheet" href="templates/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="templates/css/bootstrap.css">
</head>

<body>
    <div>
        <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <h1 class="lead navbar-brand mr-auto">Собранные новости</h1>
            <form method="POST" action="/index">
                <button type="submit" class="btn btn-success mr-4">Вернуться к выбору</button>
            </form>
            <button type="submit" class="btn btn-primary ">Подготовить отчет</button>>
        </header>

        <main class="jumbotron container mt-5">
            <div id="accordion" role="tablist">
                {{range .Postik}}
                <div class="card" role="presentation">
                    <div class="card-header" role="tab" id="heading{{.Id}}">
                        <div class="row">
                            <div class="col">
                                <h5 class="mb-0">
                                    <a class="js-title" data-toggle="collapse" href="#collapse{{.Id}}" aria-expanded="true"
                                        aria-controls="collapse{{.Id}}">
                                        {{.Title}}
                                    </a>
                                </h5>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox pl-2">
                                    <input onchange="handleChange(event)" type="checkbox" class="custom-control-input js-checkbox-toggle" id="{{.Id}}">
                                    <label for={{.Id}} class="custom-control-label">Добавить в отчет</label>
                                </div>
                            </div>
                        </div>

                        <div id="collapse{{.Id}}" class="collapse js-text" data-parent="#accordion" role="tabpanel"
                            aria-labelledby="heading{{.Id}}">
                            <div class="card-body">
                                <h6>{{.PubDate}}</h6>
                                <a href={{.Link}}>Ссылочка на источник</a>
                                <p>{{.Text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </main>
    </div>
    <script src="templates/js/jquery-3.5.1.js"></script>
    <script src="templates/js/bootstrap.js"></script>
    <script src="templates/js/collapse.js"></script>
    <script defer src="templates/js/script.js"></script>
</body>

</html>