<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Настройки профиля поиска</title>
    <link rel="stylesheet" href="./templates/css/bootstrap-grid.css">
    <link rel="stylesheet" href="./templates/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="./templates/css/bootstrap.css">
    <style>
        .check_source{
            position:fixed;
            top: 10%;
            left: 25%;
            width: 50%;
            height: 50%;
            border: black;
            border-style: solid;
            background-color:azure;
            visibility:hidden;
        }
        .result{
            position: relative;
            top:5%;
            left:5%;
            width:90%;
            height:70%;
        }
        .res_btn{
            position:relative;
            top: 15%;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 class="lead navbar-brand">Настройки "{{.Name}}"</h1>
        <form class="btn btn-success mr-4 mr-auto" method="POST" action="/index">
            <button type="submit" class="btn btn-success mr-4 ">Вернуться к выбору</button>
        </form>
        <form  method="POST" action="/report">
            <button type="submit" class="btn btn-primary mr-4" name="profile" value="{{.ID}}">Отчет</button>
        </form>
        
        <button type="submit" class="btn btn-primary mr-4">Журнал поиска</button>
        <button type="submit" class="btn btn-primary mr-4">Еще</button>
    </header>
    <main class="jumbotron container mt-5">
        <div>
            Последний поиск {{.Last}}
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-white" colspan="4">Источники</th>
                    </tr>
                    <tr scope='row'>
                        <th class="w-auto">Название</th>
                        <th class="w-auto">Ссылка</th>
                        <th class="w-25">Селектор</th>
                        <th style='width:100px'>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Sources}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.URL}}</td>
                        <td>{{.Selector}}</td>
                        <td>
                            <form method="POST" action="/settings">
                            <button class="btn btn-danger" name="del_source" value="{{.ID}}">X</button>
                            </form>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>
        </div>
        <form id="add" method="POST" action="settings">
            <label>Добавить источник</label><br>
            <input type="text" name="addSource" />
            <input type="text" name="addLink" />
            <input type="text" name="addSelector" />
            <button class="btn btn-danger" type="submit" name="sets" value="{{.ID}}">Добавить источник</button>
        </form>
            <button class="btn btn-primary" type="submit" id="check_source" value="{{.ID}}">Проверить  источник</button>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-white" colspan="2">Ключи</th>
                    </tr>
                    <tr>
                        <th class="w-auto">Название</th>
                        <th style='width:100px'>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Keys}}
                    <tr>
                        <td>{{.}}</td>
                        <td>
                            <button class="btn btn-danger" name="del_key" value="{{.}}">X</button>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>
        </div>

        <form method="POST" action="settings">
            <label>Добавить ключ</label><br>
            <input type="text" name="addKey" />
            <button class="btn btn-danger" type="submit" name="sets" value="{{.ID}}">Добавить ключ</button>
        </form>
        <div id="check_result" class="check_source">
            <textarea id="result" class="result">
                Some result
            </textarea>
            <button class="btn btn-danger res_btn" type="submit" id="check_ok">ОК</button>
        </div>
    </main>
</body>
<script src="templates/js/jquery-3.5.1.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#check_source').click(function(){
        var jsons = {};
        jsons = convertFormToJSON('#add')
        console.log(jsons)
        $.post("http://127.0.0.1:8000/chksrc", jsons, show_result)  
        return false;
    });
    $('#check_ok').click(function(){
        $('#check_result').attr("style", "visibility: hidden");
        return false;
    });
    function show_result(data){
        $('#result').text(data)
        $('#check_result').attr("style", "visibility: visible");
    };
    function convertFormToJSON(form) {
            const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
            const json = {};
            $.each(array, function () {
                json[this.name] = this.value || "";
            });
            return json;
        };
})
</script>
</html>